version: '3.8'

services:

  postgres:
    container_name: postgres
    hostname: postgres
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      PGPORT: 5433
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_MAX_CONNECTIONS: 200
      POSTGRES_SHARED_BUFFERS: 512MB
      POSTGRES_EFFECTIVE_CACHE_SIZE: 2GB
      POSTGRES_MAINTENANCE_WORK_MEM: 256MB
      POSTGRES_CHECKPOINT_COMPLETION_TARGET: 0.9
      POSTGRES_WAL_BUFFERS: 16MB
      POSTGRES_DEFAULT_STATISTICS_TARGET: 100
      POSTGRES_RANDOM_PAGE_COST: 1.1
      POSTGRES_EFFECTIVE_IO_CONCURRENCY: 200
      POSTGRES_WORK_MEM: 16MB
      POSTGRES_MIN_WAL_SIZE: 1GB
      POSTGRES_MAX_WAL_SIZE: 4GB
      POSTGRES_MAX_WORKERS: 8
      POSTGRES_MAX_PARALLEL_WORKERS: 4
    ports:
      - "5433:5433"
    volumes:
      - postgres_volume:/var/lib/postgresql/data/
      - ./create_schemas.sh:/docker-entrypoint-initdb.d/create_schemas.sh

#  rabbitmq:
#    container_name: rabbitmq
#    image: rabbitmq:3.12.8-management
#    restart: always
#    environment:
#      RABBITMQ_DEFAULT_USER: M1msoftR@bb!t
#      RABBITMQ_DEFAULT_PASS: M1msoftR@bb!t
#      TZ: "Asia/Tashkent"
#    ports:
#      - "5672:5672"
#      - "15672:15672"
#    networks:
#      - lamenu-rabbit
#    volumes:
#      - /var/docker-data/rabbitmq_volume:/var/lib/rabbitmq
#      - "./rabbit_enabled_plugins:/etc/rabbitmq/enabled_plugins"

volumes:
  postgres_volume:

#   mongodb:
#     image: mongo:latest
#     ports:
#       - '27017:27017'
#     volumes:
#       - dbdata6:/data/db
# volumes:
#   dbdata6:

#networks:
#  lamenu-postgres:
#    driver: bridge
#    name: lamenu-postgres
#  lamenu-rabbit:
#    driver: bridge
#    name: lamenu-rabbit
#    driver: bridge
#    ipam:
#      driver: default
#      config:
#        - subnet: 10.255.200.0/24
