version: '3.8'

services:
  backend:
    container_name: backend
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_API_REPO}:backend-latest
    ports:
      - "8080:8080"
    environment:
      POSTGRES_SERVER: $POSTGRES_SERVER
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: $REDIS_PASSWORD
    restart: on-failure
    networks:
      - brons
    volumes:
      - /log:/opt/log
      - /files:/files

networks:
  brons:
    external: true
