version: '3.8'

services:
  seaweedfs:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs_server
    restart: always
    command: "server -s3 -s3.port=8333 -s3.config=/etc/seaweedfs/s3.json -filer -filer.port=8888 -dir=/data -master.volumeSizeLimitMB=1024"
    ports:
      - "8333:8333"
      - "8888:8888"
      - "9333:9333"
    volumes:
      - /files:/data
      - ./s3_config.json:/etc/seaweedfs/s3.json
    deploy:
      resources:
        limits:
          memory: 1024M
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
