<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="baseDir">/opt/osontop/log/osontop</Property>
        <Property name="filename">osontop.log</Property>
    </Properties>

    <Filter type="ThresholdFilter" level="info"/>

    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} (%F:%L) - %msg%n"
            />
        </Console>
        <RollingFile name="rollingFile" fileName="${baseDir}/${filename}"
                     filePattern="${baseDir}/$${date:yyyy-MM}/osontop-%d{yyyyMMdd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} -(%F:%L) %msg%n"/>
            <Policies>
                <!-- Performs rolling everyday at midnight -->
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                <!-- Max log file size is 250 MB -->
                <SizeBasedTriggeringPolicy size="250MB"/>
                <!-- No need for this since there is a Cron trigger which does similar thing -->
                <!--<TimeBasedTriggeringPolicy interval="24" modulate="true" />-->
            </Policies>
            <DefaultRolloverStrategy max="20">
                <!--
                    Nested conditions: the inner status is only evaluated on files
                    for which the outer conditions are true.
                -->
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/osontop-*.log.gz"/>
                    <IfLastModified age="30D">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="2GB"/>
                            <IfAccumulatedFileCount exceeds="25"/>
                        </IfAny>
                    </IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!--        Webhook rolling file-->
        <RollingFile name="webhookAppender" fileName="${baseDir}/${webhookFilename}"
                     filePattern="${baseDir}/$${date:yyyy-MM}/webhook-%d{yyyyMMdd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} (%F:%L)- %msg%n"/>
            <Policies>
                <!-- Performs rolling everyday at midnight -->
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                <!-- Max log file size is 250 MB -->
                <SizeBasedTriggeringPolicy size="250MB"/>
                <!-- No need for this since there is a Cron trigger which does similar thing -->
                <!--<TimeBasedTriggeringPolicy interval="24" modulate="true" />-->
            </Policies>
            <DefaultRolloverStrategy max="20">
                <!--
                    Nested conditions: the inner status is only evaluated on files
                    for which the outer conditions are true.
                -->
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/webhook-*.log.gz"/>
                    <IfLastModified age="30D">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="2GB"/>
                            <IfAccumulatedFileCount exceeds="25"/>
                        </IfAny>
                    </IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>

        <Logger name="org.springframework" level="warn"/>
        <Logger name="springfox.documentation" level="warn"/>

        <Logger name="com.example.test" level="debug" additivity="false">
            <AppenderRef ref="console" level="debug"/>
            <AppenderRef ref="rollingFile" level="info"/>
        </Logger>
    </Loggers>
</Configuration>